section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.container {
  padding: 10px;
}

.profile-photo {
  width: 100%;
}

img {
    width: 100%;
  /* max-width: 100%; */
}

.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 400px;
  overflow: auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

label {
  display: flex;
  font-size: 1.2rem;
}

input {
  padding: 14px;
  border: 1px solid black;
  background: transparent;
  font-size: 1rem;
  margin-right: 0.8rem;
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-bottom: 10px; 
}


.upload-btn {
  padding: 8px;
  outline: none;
  border: 0;
  background: #007bff;
  color: white;
  font-size: 1rem;
  margin-right: 0.8rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 100%;
}
